<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-footer::head">
    <meta charset="UTF-8">
    <title>Edit Color</title>
</head>
<body>
<div th:insert="layout-footer::nav"></div>
<div th:insert="layout-footer::menu"></div>
<h1>Edit Color</h1>
<p>
    <a href="/admin/colors">Color list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/admin/edit-color}" th:object="${colors}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Color:</td>
            <td><input type="text" th:field="*{color}"/></td>
            <td th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Name Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Color"></td>
        </tr>
    </table>
</form>
<footer th:replace="layout-footer::footer"></footer>
</body>
</html>