<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-footer::head"></head>
<body>
<div th:insert="layout-footer::nav"></div>
<div th:insert="layout-footer::menu"></div>
<br>
<br>
<br>
<div class="container" style="background-color: cornflowerblue">
    <form th:action="@{/user/change-pass}" th:object="${account}"  method="post">
        <div class="container form-group">
            <p class="text-center">USER INFORMATION</p>
            <br>
            <p th:text="${message}"></p>
            <br>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error name</p>

            <input th:type="hidden" name="id" th:field="*{id}">
            <input th:type="hidden" name="password" th:field="*{email}">
            <input th:type="hidden" name="password" th:field="*{address}">
            <input th:type="hidden" name="password" th:field="*{numberPhone}">
            <p>Full NAME</p>
            <div>
                <div class="input-group flex-nowrap form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">*</span>
                    </div>
                    <input type="text" name="username" class="form-control" th:field="*{name}"
                           aria-describedby="addon-wrapping" readonly>
                </div>
            </div>
            <p>USERNAME</p>
            <div>
                <div class="input-group flex-nowrap form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">*</span>
                    </div>
                    <input type="text" name="username" class="form-control" th:field="*{username}"
                           aria-describedby="addon-wrapping" readonly>
                </div>
            </div>
            <p>Password</p>
            <div>
                <div class="input-group flex-nowrap form-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text">*</span>
                    </div>
                    <input type="password" name="password" class="form-control"  th:field="*{password}"
                           aria-describedby="addon-wrapping">

                </div>
            </div>
<!--            <p>New Password</p>-->
<!--            <div>-->
<!--                <div class="input-group flex-nowrap form-group">-->

<!--                    <div class="input-group-prepend">-->
<!--                        <span class="input-group-text">*</span>-->
<!--                    </div>-->
<!--                    <input type="password" name="password" class="form-control"  th:value="${newPassword}"-->
<!--                           aria-describedby="addon-wrapping">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
            <br>
            <br>
        </div>
    </form>
</div>

<br>
<br>
<br>

<script src="../../properties/js/jquery.easydropdown.js"></script>
<footer th:replace="layout-footer::footer"></footer>
</body>
</html>