<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-footer::head"></head>
<body>

<div th:insert="layout-footer::nav"></div>
<div th:insert="layout-footer::menu"></div>
<!-- start slider -->
<!--/slider -->
<!--<div class="main">-->
<div class="wrap">

    <h2 class="head">Featured Products</h2>
    <div class="top-box">
        <div class="col_1_of_3 span_1_of_3" th:each="product :${products}">
            <div class="inner_content clearfix">
                <div class="product_image">
                    <a th:href="@{'/admin/product-detail/' + ${product.id}}">
                        <img th:src="@{'/i/'+ ${product.getImage()}}" th:title="${product.getName()}" height="450px" width="450px"/>
                    </a>
                </div>
                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                <div class="price">
                    <div class="cart-left">
                        <p class="title" th:text="${product.getName()}"></p>
                        <div class="price1">
                            <span class="actual" th:text="${product.getPrice()}"></span>
                            <span class="actual">$</span>
                            <a th:href="@{'/admin/edit-product/'+${product.id}}"
                               style="padding-left: 10px">EDIT</a>
                            <a style="padding-left: 10px" th:id="${product.id}"
                               th:href="@{'/admin/delete-product/'+${product.id}}">DELETE</a>
                        </div>
                    </div>
                    <a class="cart-right" onclick="addToCart(this.id)" th:id="${product.getId()}"></a>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <div class="clear"></div>
<!--        <a th:href="@{'/products'(page=${products.number - 2})}" th:if="${products.hasPrevious()}">-->
<!--            <button type="button" class="btn btn-primary btn-sm">PAGE 1</button>-->
<!--        </a>-->
<!--        <a th:href="@{'/products'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">-->
<!--            <button type="button" class="btn btn-success btn-sm">PAGE 2</button>-->
<!--        </a>-->
<!--        <a th:href="@{'/products'(page=${products.number})}" th:if="${products.hasPrevious()}">-->
<!--            <button type="button" class="btn btn-danger btn-sm">PAGE 3</button>-->
<!--        </a>-->
<!--        <a th:href="@{'/products'(page=${products.number + 1})}" th:if="${products.hasNext()}">-->
<!--            <button type="button" class="btn btn-secondary btn-sm">PAGE 4</button>-->
        <a th:href="@{'/admin/home'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}" th:value="${products.number + 1}"></span>

        <!--    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}" th:value="${customers.number + 1}"></span>-->
        <a th:href="@{'/admin/home'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>

    </div>
    <h2 class="head">New Products</h2>
    <div class="section group">
        <div class="col_1_of_3 span_1_of_3" th:each="product :${products}">

            <div class="inner_content clearfix">
                <div class="prproduct_image">
                    <a th:href="@{'/admin/product-detail/'+${product.id}}">
                        <img th:src="@{'/i/'+ ${product.getImage()}}" th:title="${product.getName()}"/>
                    </a>
                </div>
                <div class="sale-box"><span class="on_sale title_shop">New</span></div>
                <div class="price">
                    <div class="cart-left">
                        <p class="title" th:text="${product.getName()}"></p>
                        <div class="price1">
                            <span class="actual" th:text="${product.getPrice()}"></span>
                            <span class="actual">$</span>
                            <a href="" style="padding-left: 10px">EDIT</a>
                            <a href="" style="padding-left: 10px">DELETE</a>
                        </div>
                    </div>
                    <a class="cart-right" onclick="addToCart(this.id)" th:id="${product.getId()}"></a>
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <!--    </div>-->
</div>
<div class="clear"></div>
<footer th:replace="layout-footer::footer"></footer>
</body>
<script>
    const apiBaseUrl = 'http://localhost:8080';

    function addToCart(id) {
        $.ajax(`${apiBaseUrl}/addtocart/${id}`)
            .done(function (result) {
                document.getElementById('cart').innerHTML = "CART(" + result + ")";
            })
            .fail(function (error) {
                console.log(error);
            });
    }
</script>
</html>
