<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout-footer::head"></head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="header-top-left">
            <div class="box">
                <select tabindex="4" class="dropdown">
                    <option value="" class="label" >Language :</option>
                    <option value="1">English</option>
                    <option value="2">French</option>
                    <option value="3">German</option>
                </select>
            </div>
            <div class="box1">
                <select tabindex="4" class="dropdown">
                    <option value="" class="label">Currency :</option>
                    <option value="1">$ Dollar</option>
                    <option value="2">€ Euro</option>
                </select>
            </div>
            <div class="clear"></div>
        </div>
        <div class="cssmenu">
            <ul>
                <li class="active"><a href="login.html">Account</a></li>
                |
                <li><a href="checkout.html">Wishlist</a></li>
                |
                <li><a href="/">Checkout</a></li>
                |
                <li><a href="/login">Log In</a></li>
                |
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="register_account">
    <div class="wrap">
        <div class="clear"></div>
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <p th:text="${message}"></p>
                        <p th:text="${message1}"></p>
                        <p th:text="${message2}"></p>
                        <form method="post" class="register-form" th:action="@{/register}" th:object="${account}" onsubmit=" return validattion()">
                            <div class="form-group">

                                <input type="text" class="zmdi zmdi-account material-icons-name" th:field="*{name}" placeholder="full name"/>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error name</p>
                            </div>
                            <div class="form-group">

                                <input type="text" name="username" id="username" class="zmdi zmdi-account material-icons-name" th:field="*{username}" placeholder="user name"/>
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error username</p>
                            </div>
                            <div class="form-group">
                                <input type="text" name="address" id="address" th:field="*{address}" placeholder="Your Address"/>
                                <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">error address</p>
                            </div>
                            <div class="form-group">
                                <input type="number" name="number" id="number" th:field="*{numberPhone}"placeholder="Your number phone"/>
                                <p th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}">error numberPhone</p>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" th:field="*{email}" placeholder="Your Email"/>
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error email</p>

                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password"  th:field="*{password}" placeholder="Password"/>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error password</p>

                            </div>
                            <div class="form-group">
                                <input type="password" name="repassword" id="repassword" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term">By submit, I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" onclick="validattion()">
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="../../properties/FormSignInUp/images/singup-image.jpg" alt="sing up image"></figure>
                        <a href="/login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">
    function validattion() {
        var pass=document.getElementById("password").value;
        var repass=document.getElementById("repassword").value;
        if (pass!==repass){
            alert("Mat khau khong trung khop");
            return false;
        }
    }
</script>
<footer th:replace="layout-footer::footer"></footer></body>
</html>