<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity4">
<head th:replace="layout-footer::head"></head>
<body>
<div th:insert="layout-footer::nav"></div>
<div th:insert="layout-footer::menu"></div>
<br>
<br>
<br>
<div class="container" style="background-color: cornflowerblue">
    <form action="/change-password" method="post">
        <div class="container form-group">
            <br>
            <p th:text="${message}"></p>
            <br>
            <p class="text-center">UPDATE PASSWORD</p>
            <p>NEW PASSWORD</p>
            <div>
                <div class="input-group flex-nowrap form-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text">*</span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="New password" required=""
                           aria-describedby="addon-wrapping">
                </div>
            </div>

            <p>PASS SUBMIT</p>
            <div id="passsubmit">
                <div class="input-group flex-nowrap form-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text">*</span>
                    </div>
                    <input type="password" name="passwordsubmit" class="form-control" placeholder="Enter your old password" required=""
                           aria-describedby="addon-wrapping">
                </div>
            </div>

            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
            <br>
            <br>
        </div>
    </form>
</div>

<br>
<br>
<br>

<script src="../properties/js/jquery.easydropdown.js"></script>
<footer th:replace="layout-footer::footer"></footer>
</body>
</html>