<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity4">
<head th:replace="layout-footer::head"></head>
<body>

<div th:insert="layout-footer::nav"></div>
<div th:insert="layout-footer::menu"></div>
<br>
<br>
<br>
<!-- start slider -->
<div style="background-color: #7D97A3">
    <div class="wrap">
        <h3>Edit Product</h3>
        <p th:text="${message}"></p><br>
        <form action="/admin/create-product" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p>Name product
                <p>
                    <input type="text" class="form-control"
                           th:value="${product.getName()}" name="=name">
            </div>
            <div class="form-group">
                <p>Image</p>
                <input type="file" class="form-control-file" multiple name="image">
            </div>
            <div class="form-group">
                <p>Price $</p>
                <input type="number" class="form-control"
                      th:value="${product.getPrice()}" name="price">
            </div>
            <div class="form-group">
                <p>Describe</p>
                <textarea class="form-control" rows="3" th:text="${product.getDescribetion()}" name="describe"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </form>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="clear"></div>
<footer th:replace="layout-footer::footer"></footer>

<script>
    const apiBaseUrl = 'http://localhost:8080';

    function addToCart(id) {
        $.ajax(`${apiBaseUrl}/addtocart/${id}`)
            .done(function (result) {
                document.getElementById('cart').innerHTML = "CART(" + result + ")";
            })
            .fail(function (error) {
                console.log(error);
            });
    }

</script>
</body>
</html>
